/* // `xs` returns only a ruleset and no media query */

@media (min-width: 320px) and (max-width: 575.98px) {
    .navbar-toggler{
        background: #ffffff;
        border-radius: 45px;
    }
    .menu {
        border-radius: 40px;
        margin: 0px 20px 0px 20px;
        padding: 0px;
        background: none;
    }
    .collapse .nav-item .nav-link {
        padding: 5px 15px;
        border-radius: 40px;
        color: #fff;
        font-size: 14px;
        background: #666;
        margin: 10px;
    }
    .first_banner_img .small_pic img {
       display: none;
    }
    .first_banner_content {
        justify-content: center;
    }
    .first_banner_content h1 {
        font-size: 40px;
        line-height: 1.5;
        padding: 5px;
        margin-bottom: 10px;
        text-align: center;
        margin-top: -30px;
    }
    .first_banner_img img{
        display: none;
    }
    .first_banner_content a {
        margin-left: 70px;
    }
    .second_banner_content {
        top: 210px;
        left: 5px;
    }
    .second_banner_content h2 {
    font-size: 20px;
    padding-bottom: 10px;
    }
    .sponsor_part {
        padding: 30px 0px;
    }
    .sponsor_content_part h3 {
        font-size: 26px;
        
    }
    .sponsor_content_part p {
        text-align: justify;
    }
    .boxpart {
        top: -50px;
    }
    .Nationwide {
        padding: 0px;
        text-align: center;
    }
    .Nationwide h4 {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .Nationwide p {
        font-size: 14px;
    }
    .district {
        padding: 0px;
        text-align: center;
    }
    .district h4 {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .district p {
        font-size: 14px;
    }
    .communities_part p {
        font-size: 30px;
    }
    .communities_part a {
        font-size: 12px;
    }
    .articles {
        padding: 40px 0px;
    }
    .newsPart h3 {
        font-size: 26px;
    }
    .butn a {
        padding: 10px 20px;
        font-size: 10px;
    }
    .articles_part{
        margin-bottom: 10px;
    }
}
/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (min-width: 576px) and (max-width: 767.98px){
    .navbar-toggler{
        background: #ffffff;
        border-radius: 45px;
    }
    .menu {
        border-radius: 40px;
        margin: 0px 20px 0px 20px;
        padding: 0px;
        background: none;
    }
    .collapse .nav-item .nav-link {
        padding: 5px 15px;
        border-radius: 40px;
        color: #fff;
        font-size: 14px;
        background: #666;
        margin: 10px;
    }
    .first_banner_img .small_pic img {
       display: none;
    }
    .first_banner_content {
        position: absolute;
        top: -400px;
        left: 59px;
    }
    .second_banner_content {
        top: 210px;
        left: 44px;
    }
    .first_banner_content h1 {
        font-size: 40px;
        line-height: 1.5;
        padding: 5px;
        margin-bottom: 10px;
        text-align: center;
        margin-top: -30px;
    }
    .first_banner_img img{
        display: none;
    }
    .first_banner_content a {
        margin-left: 70px;
    }
    .second_banner_content {
        top: 210px;
        left: 5px;
    }
    .second_banner_content h2 {
    font-size: 26px;
    padding-bottom: 10px;
    }
    .Nationwide h4 {
        color: #000;
        font-size: 26px;
        padding-bottom: 20px;
        font-weight: 800;
    }
    .district h4 {
        color: #000;
        font-size: 26px;
        padding-bottom: 20px;
        font-weight: 800;
    }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 768px) and (max-width: 991.98px){
    .navbar-toggler{
        background: #ffffff;
        border-radius: 45px;
    }
    .first_banner_img .small_pic {
        position: absolute;
        top: -20px;
        left: -120px;
    }
    .first_banner_content h1 {
        color: #fff;
        font-weight: 900;
        text-transform: capitalize;
        font-size: 30px;
        line-height: 1.6;
        padding: 10px;
        margin-bottom: 20px;
    }
    .second_banner_content {
        position: absolute;
        top: 220px;
        left: 17px;
    }
    .boxpart {
        background: #fff;
        border-radius: 15px;
        padding: 10px;
        --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / .1), 0 8px 10px -6px rgb(0 0 0 / .1);
        --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
        top: -100px;
        left: 23%;
        position: absolute;
    }
    .footer_descrip_3 ul li a i {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #fff;
        margin: 3px;
        text-align: center;
        font-size: 16px;
        line-height: 30px;
        color: #000;
    }
    .articles_part{
        margin-bottom: 20px;
    }
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { }